<!-- This is the file that  the Object Ajax load  -->
<%= div_for coment do %>
    <p>
	   <strong>Posted <%= time_ago_in_words(coment.created_at)%></strong><br />
	   <%= h(coment.body) %>
    </p>
<% end %>